<% require 'date' %>
<h1>Hours worked</h1>
<% if user_signed_in? %>
  <% if current_user.start_at == nil %>
  	<p>Last session end_at <%= current_user.end_at %></p>
  	<p>Last session hours_worked <%= current_user.hours_worked %></p>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>    
    <%= f.hidden_field :email, :value => current_user.email %>
    <%= f.hidden_field :password %></div>
    <%= f.hidden_field :start_at, :value => Time.now %>
    <%= f.hidden_field :end_at, :value => nil %>
    <div><%= f.submit "Start" %></div>
    <% end %>
    
  <% else %>
    <%= xhours = Time.now.to_time - current_user.start_at.to_time %>
    <p>Getting Started at <%= current_user.start_at %></p>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>    
    <%= f.hidden_field :email, :value => current_user.email %>
    <%= f.hidden_field :password %></div>
    <%= f.hidden_field :end_at, :value => Time.now %>
    <%= f.hidden_field :hours_worked, :value => xhours %>
    <%= f.hidden_field :start_at, :value => nil %>
    <div><%= f.submit "End" %></div> 
    <% end %>
  <% end %>

  

<% else %>    
<% end %>






  





