<h1>Hours worked</h1>

<%= javascript_tag do -%>
$(document).ready(
  function(){
    setInterval(function(){
      $.ajax({
        url: "<%= 'time' %>",
        type: "GET",
        dataType: "script"
    });
  }, 1000 );
});
<% end -%>



<div id ='time_div'>The current time is 
</div><br>

    <% if current_user.updated_at != nil %>
   	<p>Last session end at: <%= current_user.updated_at %></p>
   	<% end %><br>
   	<% if current_user.hours_worked != nil %>
    <% a = current_user.hours_worked %> 
      <p>Hours_worked <%= a / 3600 %> hours <%= (a / 60).round - ((a / 3600).round * 60 ) %> minutes</p>
    <% end %>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>    
    <%= f.hidden_field :email, :value => current_user.email %>
    <%= f.hidden_field :password %>
    <%= f.hidden_field :start_at, :value => Time.now %>
    <%= f.hidden_field :end_at, :value => nil %>
    <div><%= f.submit "Start work" %></div>
    <% end %>
